<header class="header">
  <div class="menu-mobile">
    <img src="assets/menu.svg" alt="side-menu-btn" class="side-menu-btn">
    <div class="side-menu" id="side-menu">
      <a><img src="assets/products.svg" alt="products" class="nav-text" id="products" /><img src="assets/triangle.svg"
          alt="products-arrow" class="nav-triangle" /></a>
      <div class="sub-side-menu" id="sub-side-menu-products">
        <a href="organic-coffee.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img
            src="assets/organic-coffee.svg" alt="organic-coffee" class="nav-text" /></a>
        <a href="premium-tea.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img
            src="assets/premium-tea.svg" alt="premium-tea" class="nav-text" /></a>
        <a href="fancy-cookies.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img
            src="assets/fancy-cookies.svg" alt="fancy-cookies" class="nav-text" /></a>
      </div>
      <a href="services.html"><img src="assets/services.svg" alt="services" class="nav-text" /></a>
      <a><img src="assets/about-us.svg" alt="about-us" class="nav-text" id="about-us" /><img src="assets/triangle.svg"
          alt="about-us-arrow" class="nav-triangle" /></a>
      <div class="sub-side-menu" id="sub-side-menu-about-us">
        <a href="about-our-company.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img
            src="assets/about-our-company.svg" alt="about-our-company" class="nav-text" /></a>
        <a href="management-team.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img
            src="assets/management-team.svg" alt="management-team" class="nav-text" /></a>
        <a href="careers.html"><img src="assets/line.svg" alt="line" class="sub-menu-line"><img src="assets/careers.svg"
            alt="careers" class="nav-text" /></a>
      </div>
      <a href="contact-us.html"><img src="assets/contact-us.svg" alt="contact-us" class="nav-text" /></a>
    </div>
  </div>
  <a href="index.html" class="logo-container"><img src="assets/logo.svg" alt="Logo" class="logo" /></a>
  <img src="assets/line.svg" alt="line" class="nav-divider" />
  <nav class="navigation">
    <div class="nav-dropdown-desktop">
      <a><img src="assets/products.svg" alt="products" class="nav-text" /><img src="assets/triangle.svg"
          alt="products-arrow" class="nav-triangle" /></a>
      <div class="dropdown-content">
        <a href="organic-coffee.html"><img src="assets/organic-coffee.svg" alt="organic-coffee" class="nav-text" /></a>
        <a href="premium-tea.html"><img src="assets/premium-tea.svg" alt="premium-tea" class="nav-text" /></a>
        <a href="fancy-cookies.html"><img src="assets/fancy-cookies.svg" alt="fancy-cookies" class="nav-text" /></a>
      </div>
    </div>
    <div class="nav-btn-desktop">
      <a href="services.html"><img src="assets/services.svg" alt="services" class="nav-text" /></a>
    </div>
    <div class="nav-dropdown-desktop">
      <a><img src="assets/about-us.svg" alt="about-us" class="nav-text" /><img src="assets/triangle.svg"
          alt="about-us-arrow" class="nav-triangle" /></a>
      <div class="dropdown-content">
        <a href="about-our-company.html"><img src="assets/about-our-company.svg" alt="about-our-company"
            class="nav-text" /></a>
        <a href="management-team.html"><img src="assets/management-team.svg" alt="management-team"
            class="nav-text" /></a>
        <a href="careers.html"><img src="assets/careers.svg" alt="careers" class="nav-text" /></a>
      </div>
    </div>
    <div class="nav-btn-desktop">
      <a href="contact-us.html"><img src="assets/contact-us.svg" alt="contact-us" class="nav-text" /></a>
    </div>
  </nav>
  <img src="assets/line.svg" alt="line" class="nav-divider" />
  <img src="assets/search-interface-symbol.png" alt="search" class="nav-icon-placeholder" />
  <img src="assets/shopping-cart.png" alt="shopping-cart" class="nav-icon-placeholder" />
  <div class="user-circle">
    <img src="assets/A.png" alt="user" class="nav-icon-placeholder" />
  </div>
</header>

<script>
  $(".side-menu-btn").on("click", function () {
    const sideMenu = $("#side-menu");
    const isCollapsed = sideMenu.height() === 0;

    if (isCollapsed) {
      sideMenu.animate({ 'max-height': '200%' }, { duration: 250 })
    } else {
      sideMenu.animate({ 'max-height': '0px' }, { duration: 250 })
    }
  });

  $("#products").on("click", function () {
    const subMenu = $("#sub-side-menu-products");
    const isCollapsed = subMenu.height() === 0;

    if (isCollapsed) {
      subMenu.animate({ 'max-height': '120px' }, { duration: 250 })
    } else {
      subMenu.animate({ 'max-height': '0px' }, { duration: 250 })
    }
  });

  $("#about-us").on("click", function () {
    const subMenu = $("#sub-side-menu-about-us");
    const isCollapsed = subMenu.height() === 0;

    if (isCollapsed) {
      subMenu.animate({ 'max-height': '120px' }, { duration: 250 })
    } else {
      subMenu.animate({ 'max-height': '0px' }, { duration: 250 })
    }
  });
</script>