body {
  margin: 0px;
  background-color: white;
  font-family: "Courgette", cursive;
}

.header {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 0px 8px;
  box-shadow: 1px 1px 5px black;
}

.menu-mobile {
  height: 52px;
}

.side-menu-btn {
  display: none;
  margin: 10px 8px 10px 0px;
}

.side-menu {
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  display: block;
  background-color: #f9f9f9;
  padding: 0px 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.side-menu a {
  display: flex;
  align-items: center;
  height: 40px;
}

.sub-menu-line {
  height: 40px;
  width: 16px;
}

.sub-side-menu {
  max-height: 0px;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 40px;
}

.nav-divider {
  height: 32px;
  margin: 0px 8px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navigation a {
  padding: 0px 8px;
  display: flex;
  align-items: center;
  height: 52px;
}

.navigation a:hover {
  background-color: #D9D9D9;
}

.nav-text {
  height: 16px;
}

.nav-triangle {
  width: 10px;
  margin: 0px 4px;
}

.nav-icon-placeholder {
  max-width: 20px;
  margin: 8px;
}

.user-circle {
  width: 36px;
  height: 36px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.nav-dropdown-desktop:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .nav-dropdown-desktop {
    display: none;
  }

  .nav-btn-desktop {
    display: none;
  }

  .side-menu-btn {
    display: block;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  margin: 24px 0px 0px 8px;
}

.route-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.route-slash {
  color: #62D2A2;
}

.route-text {
  /* width: 56px; */
  margin: 0px;
  color: #62D2A2;
  font-size: small;
  font-weight: normal;
}

.route-title {
  color: #62D2A2;
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -4px;
}

.divider-line {
  height: 1px;
  object-fit: cover;
}

.divider-leaf {
  width: 12px;
}

.banner-container {
  background-color: #255A73;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alignment-right-background {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.first-banner-text {
  color: white;
  width: 40%;
  text-align: right;
  padding-right: 3vw;
  font-size: 3vw;
}

.alignment-left-background {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.second-banner-text {
  color: white;
  width: 50%;
  text-align: left;
  padding-left: 3vw;
  font-size: 3vw;
}

.banner-logo-background {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 4vw 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-banner-text {
  color: white;
  width: 50%;
  text-align: right;
  padding-right: 3vw;
  font-size: 4vw;
}

.banner-image {
  width: 50%;
}

.banner-logo {
  max-width: 70%;
}